/* Section de Tarifs */
.tarif-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: linear-gradient(to right, #172128 20%, #244547);
    color: #ffffff;
    text-align: center;
}

.tarif-container {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
    justify-content: space-around; /* Distribue les cartes avec espace autour */
}

.tarif-card {
    background: linear-gradient(to left, #172128 20%, #244547);
    border-radius: 8px;
    padding: 30px 20px;
    width: 300px; /* Largeur par défaut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.tarif-card:hover {
    transform: scale(1.05);
}

.tarif-card h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #e0a458;
    text-transform: uppercase;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: #4caf50;
    margin-bottom: 20px;
}

.benefits-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.benefits-list li {
    font-size: 1rem;
    margin: 10px 0;
    position: relative;
    padding-left: 20px;
}

.benefits-list li::before {
    content: '✓';
    color: #e0a458;
    position: absolute;
    left: 0;
    font-size: 1.2rem;
}

.subscribe-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #e0a458;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
    background-color: #e6880c;
}

/* Requêtes media pour rendre la section responsive */
@media (max-width: 768px) {
    .tarif-container {
        flex-direction: column; /* Verticaliser la disposition sur petits écrans */
        align-items: center; /* Centrer les cartes */
    }

    .tarif-card {
        width: 90%; /* Rendre la carte presque pleine largeur */
        margin-bottom: 20px; /* Espacement entre les cartes */
    }

    .tarif-card h3 {
        font-size: 1.5rem; /* Ajuster la taille de la police pour les petits écrans */
    }

    .price {
        font-size: 1.5rem; /* Réduire la taille de la police pour le prix */
    }
}

@media (max-width: 480px) {
    .tarif-card h3 {
        font-size: 1.2rem; /* Réduire la taille de la police pour les très petits écrans */
    }

    .price {
        font-size: 1.2rem; /* Ajuster la taille de la police pour le prix sur les très petits écrans */
    }
}
