<section class="fitness-section">
    <div class="fitness-content">
        <h2>Bienvenue dans l'Espace Fitness</h2>
        <p>
            Transformez votre condition physique dans un environnement dynamique et motivant ! Profitez d'un espace équipé avec des appareils modernes pour améliorer votre endurance, votre force, et votre bien-être général. Nos coachs sont là pour vous guider et optimiser votre parcours.
        </p>
        <ul class="fitness-features">
            <li>Appareils de cardio modernes</li>
            <li>Zone de stretching</li>
            <li>Entraînements fonctionnels</li>
            <li>Coaching personnalisé</li>
            <li>Cours collectifs et individuels</li>
        </ul>
        <button class="join-btn">Rejoignez-nous</button>
    </div>
    <div class="image-section">
        <img src="/assets/imagesGYm.jpeg" alt="Espace Fitness">
    </div>
</section>
