<h1 class="h1T">Notre Equipe</h1>
<section class="team-section">

    <div class="team-container">
        <div class="team-card">
            <img src="/assets/coachimage.jpeg" alt="Nom du membre">
            <h3>Nom du Coach</h3>
            
            <ul class="benefits-list">
                <li>Expert en Musculation</li>
                <li>Programme Nutritionnel</li>
                <li>Suivi Personnalisé</li>
            </ul>
            <div class="social-icons">


                <a href="https://www.instagram.com/ramziihaddajii/" target="_blank">
                    <span class="fab fa-instagram"></span>
                </a>

                <a href="https://www.facebook.com/ramzi.haddaji.1" target="_blank">
                    <span class="fab fa-facebook-f"></span>
                </a>

                <a href="tel:+21699517441" target="_blank">
                    <span class="fas fa-phone-alt mr-2"></span>
                </a>
            </div>
        </div>


        <div class="team-card">
            <img src="/assets/coachimage.jpeg" alt="Nom du membre">
            <h3>Nom du Coach</h3>
            
            <ul class="benefits-list">
                <li>Expert en Musculation</li>
                <li>Programme Nutritionnel</li>
                <li>Suivi Personnalisé</li>
            </ul>
            <div class="social-icons">


                <a href="https://www.instagram.com/ramziihaddajii/" target="_blank">
                    <span class="fab fa-instagram"></span>
                </a>

                <a href="https://www.facebook.com/ramzi.haddaji.1" target="_blank">
                    <span class="fab fa-facebook-f"></span>
                </a>

                <a href="tel:+21699517441" target="_blank">
                    <span class="fas fa-phone-alt mr-2"></span>
                </a>
            </div>
        </div>



        <div class="team-card">
            <img src="/assets/coachimage.jpeg" alt="Nom du membre">
            <h3>Nom du Coach</h3>
            
            <ul class="benefits-list">
                <li>Expert en Musculation</li>
                <li>Programme Nutritionnel</li>
                <li>Suivi Personnalisé</li>
            </ul>
            <div class="social-icons">


                <a href="https://www.instagram.com/ramziihaddajii/" target="_blank">
                    <span class="fab fa-instagram"></span>
                </a>

                <a href="https://www.facebook.com/ramzi.haddaji.1" target="_blank">
                    <span class="fab fa-facebook-f"></span>
                </a>

                <a href="tel:+21699517441" target="_blank">
                    <span class="fas fa-phone-alt mr-2"></span>
                </a>
            </div>
        </div>
        
        <!-- Ajouter d'autres cartes de coach ici -->
        
    </div>
</section>
