/* Style du formulaire */
.contact-form {
    background: linear-gradient(to left, #172128 20%, #244547);
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Prendre toute la largeur disponible */
    max-width: 500px; /* Largeur maximale */
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.contact-form .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    border: 1px solid #243642;
    border-radius: 4px;
    background-color: #243642;
    color: white;
    font-size: 14px;
    transition: border-color 0.3s;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #4fa1db;
    outline: none;
}

.contact-form .btn-submit {
    background-color: #e0a458;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.contact-form .btn-submit:hover {
    background-color: #f08800;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-form {
        padding: 15px; /* Réduire le padding sur mobile */
    }

    .contact-form h1 {
        font-size: 30px; /* Réduire la taille de police du titre */
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        font-size: 12px; /* Réduire la taille de police des champs */
    }

    .contact-form .btn-submit {
        font-size: 14px; /* Réduire la taille de police du bouton */
        padding: 8px 12px; /* Ajuster le padding du bouton */
    }
}
