<section id="contact">
    <h1 class="section-header">Contact</h1>
  
    <div class="contact-wrapper">
      <!-- Form Section -->
      <form class="contact-form" (submit)="sendEmail($event)">
        <div class="form-group">
          <label for="full-name" style="color: white;">Full Name</label>
          <input type="text" id="full-name" name="fullName" placeholder="Enter your full name" required>
        </div>
  
        <div class="form-group" style="color: white;">
          <label for="email">Email</label>
          <input type="email" id="email" name="userEmail" placeholder="Enter your email" required>
        </div>
  
        <div class="form-group" style="color: white;">
          <label for="subject">Subject</label>
          <input type="text" id="subject" name="subject" placeholder="Enter subject" required />
        </div>
  
        <div class="form-group" style="color: white;">
          <label for="message">Message</label>
          <textarea id="message" name="userMessage" placeholder="Write your message here" rows="4" required></textarea>
        </div>
  
        <button type="submit" class="send-button">Send Message</button>
      </form>
  
      <!-- Contact Details Section -->
      <div class="contact-wrapper1">
        <div class="direct-contact-container">
          <ul class="contact-list">
            <li class="list-item">
              <i class="fas fa-map-marker-alt"></i>
              <span class="contact-text">5031 Ksibet el Mediouni/Monastir</span>
            </li>
            <li class="list-item">
              <i class="fas fa-phone-alt"></i>
              <span class="contact-text">
                <a href="tel:+21699517441">+ 216 26 373 073</a>
              </span>
            </li>
            <li class="list-item">
              <i class="fas fa-envelope"></i>
              <span class="contact-text">
                <a href="mailto:ramziihaddajii@gmail.com">ramziihaddajii@gmail.com</a>
              </span>
            </li>
          </ul>
  
          <ul class="social-media-list">
            <li><a href="https://www.facebook.com/profile.php?id=100090839654711" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/irongym_tn/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  