


/* Global Styling */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  .section-header {
    text-align: center;
    font-size: 48px;
    color: #e0a458;
    margin: 40px 0 30px;
    text-transform: uppercase;
  }
  
  /* Contact Wrapper */
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Form Styling */
  .contact-form {
    flex: 1;
    margin-right: 30px;
    max-width: 500px;
  }
  
  .contact-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #1a1a1a;
    color: white;
    font-size: 16px;
  }
  
  .send-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #e0a458;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .send-button:hover {
    background-color: #e0a800;
  }
  
  /* Contact Details */
  .direct-contact-container {
    max-width: 300px;
    padding-top: 50%;
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .list-item i {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .contact-text a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .contact-text a:hover {
    color: white;
  }
  
  /* Social Media Icons */
  .social-media-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0;
  }
  
  .social-media-list li {
    margin: 0 10px;
  }
  
  .social-media-list a {
    font-size: 30px;
    color: white;
    transition: color 0.3s;
  }
  
  .social-media-list a:hover {
    color: #ffc107;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-form {
      margin-right: 0;
      margin-bottom: 20px;
    }
    direct-contact-container
    .direct-contact-container {
      margin-top: 20px;
      
    }
  }
  