.container-musculation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to right, #172128 20%, #244547);
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

.text-section {
    flex: 1; /* Permet à la section texte de prendre toute la largeur disponible */
    color: white; /* Couleur du texte */
}
  .text-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease-out forwards;
  }
  
  .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    opacity: 0;
    animation: fadeInText 1.5s ease-in-out forwards;
  }
  
  .cta {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  


  .gym-image {
    width: 400px; /* Largeur de l'image */
    
    height: auto; /* Hauteur automatique pour maintenir le ratio */
    border-radius: 8px; /* Bords arrondis pour l'image */
}