.container-musculation {
    display: flex; /* Utiliser le flexbox pour aligner l'image et le texte */
    justify-content: space-between; /* Espacer les éléments */
    align-items: center; /* Alignement vertical centré */
    max-width: 1200px; /* Largeur maximale du conteneur */
    margin: auto; /* Centrer le conteneur sur la page */
    padding: 20px; /* Espacement interne */
    background: linear-gradient(to left, #243642, #387478); /* Couleur de fond du conteneur */
    border-radius: 8px; /* Bords arrondis */
}

.text-section {
    flex: 1; /* Permet à la section texte de prendre toute la largeur disponible */
    color: white; /* Couleur du texte */
}
  .text-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
    animation: slideInFromLeft 1s ease-out forwards;
  }
  
  .text-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    opacity: 0;
    animation: fadeInText 1.5s ease-in-out forwards;
  }
  
  .cta {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  


  .gym-image {
    width: 400px; /* Largeur de l'image */
    
    height: auto; /* Hauteur automatique pour maintenir le ratio */
    border-radius: 8px; /* Bords arrondis pour l'image */
}