<div class="app-wrapper">
  <app-header class="app-header" [class.active]="isMenuOpen"></app-header> <!-- Header fixé en haut -->

  <div class="page-content">
    
    <router-outlet class="newPage"></router-outlet>
    <hr class="custom-hr">
    <app-about></app-about>
    <hr class="custom-hr">
    <app-espace-musculation></app-espace-musculation>
    <hr class="custom-hr">
    <app-espace-fitness></app-espace-fitness>
    <hr class="custom-hr">
    <app-espace-cardio></app-espace-cardio>
    <hr class="custom-hr">
    <app-cours-collectif></app-cours-collectif>
    <hr class="custom-hr">
    <app-cours-adulte></app-cours-adulte>
    <hr class="custom-hr">
    <app-cours-enfant></app-cours-enfant>
    <hr class="custom-hr">
    <app-tarif></app-tarif>
    <hr class="custom-hr">
    <app-planning></app-planning>
    <hr class="custom-hr">
    <app-bmi-calculator></app-bmi-calculator>
    <hr class="custom-hr">
    <app-our-team></app-our-team>
    <hr class="custom-hr">
    <app-contact></app-contact>
    <hr class="custom-hr">
  </div>

  <app-footer></app-footer> <!-- Footer en bas -->
</div>
