<section class="planning-section">
    <h2 style="color: #e0a458;">Planning des Horaires</h2>
    <table class="calendar-table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Horaires</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lundi</td>
                <td>7h - 21h</td>
            </tr>
            <tr>
                <td>Mardi</td>
                <td>7h - 21h</td>
            </tr>
            <tr>
                <td>Mercredi</td>
                <td>7h - 21h</td>
            </tr>
            <tr>
                <td>Jeudi</td>
                <td>7h - 21h</td>
            </tr>
            <tr>
                <td>Vendredi</td>
                <td>7h - 21h</td>
            </tr>
            <tr>
                <td>Samedi</td>
                <td>7h - 20h</td>
            </tr>
            <tr>
                <td>Dimanche</td>
                <td>10h - 15h</td>
            </tr>
        </tbody>
    </table>
</section>

<hr class="custom-hr">


<section class="courses-section">
    <h2>Cours Disponibles</h2>
    <table class="courses-table">
        <tbody>
            <tr>
                <td data-label="Lundi">
                    07:00 - 08:00 <br> Circuit Training <br> Coach Wael <hr >
                    11:30 - 12:30 <br> Abdos 100% Femmes <br> Coach Nawel <hr>
                    18:00 - 19:00 <br> Core LESMILLS <br> Coach Synda
                </td>
                <td data-label="Mardi">
                    07:00 - 08:00 <br> Core LESMILLS <br> Coach Yassine <hr>
                    12:30 - 13:30 <br> 100% Abdos <br> Coach Nawel <hr>
                    17:30 - 18:30 <br> Body Balance <br> Coach Mariem
                </td>
                <td data-label="Mercredi">
                    07:00 - 08:00 <br> TRX <br> Coach Wael <hr>
                    11:30 - 12:30 <br> Pilates Sol <br> Coach Narjess <hr>
                    18:30 - 19:30 <br> Body Combat <br> Coach Yassine
                </td>
                <td data-label="Jeudi">
                    07:00 - 08:00 <br> Gym Ball <br> Coach Wael <hr>
                    12:30 - 13:30 <br> Zumba <br> Coach Mariem <hr>
                    18:30 - 19:30 <br> YOGA <br> Coach Myriam
                </td>
                <td data-label="Vendredi">
                    07:00 - 08:00 <br> 100% Abdos <br> Coach Wael <hr>
                    11:30 - 12:30 <br> Gym Ball <br> Coach Nawel <hr>
                    19:30 - 20:30 <br> Grit <br> Coach Adem
                </td>
                <td data-label="Samedi">
                    11:30 - 12:30 <br> Cross Training <br> Coach Wael <hr>
                    12:30 - 13:00 <br> 100% Abdos <br> Coach Wael
                </td>
                <td data-label="Dimanche">
                    11:30 - 12:30 <br> Body Combat <br> Coach Yassine <hr>
                    12:45 - 13:30 <br> RPM <br> Coach Yassine
                </td>
            </tr>
        </tbody>
    </table>
</section>