

.calendar-table thead th {
    background: linear-gradient(to right, #172128 20%, #244547);
    color: #ffffff;
    padding: 15px;
    font-size: 1.2rem;
}

.calendar-table tbody td {
    background: linear-gradient(to left, #172128 20%, #244547);
    color: #e0e0e0;
    padding: 12px;
    font-size: 1rem;
    border-bottom: 1px solid #4a6572;
}

.calendar-table tbody tr:hover td {
    background-color: #3a4f61;
}

.calendar-table tbody tr:last-child td {
    border-bottom: none;
}

/* Cours Section */
.courses-section {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(to right, #172128 20%, #244547);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.courses-section h2 {
    text-align: center;
    color: #e0a458;
    margin-bottom: 20px;
}

.courses-table {
    width: 100%;
    border-collapse: collapse;
}

.courses-table th,
.courses-table td {
    border: 1px solid #314a5c;
    padding: 15px;
    text-align: left;
    color: white;
}

.courses-table th {
    background: linear-gradient(to left, #172128 20%, #244547);
    font-size: 1.1em;
    
}


hr.custom-hr {
    border: none;
    height: 5px;
    background-color: #4caf50;
    margin: 30px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


.courses-table tr:nth-child(even) {
    background-color: #314a5c;
}

.courses-table td {
    font-size: 0.95em;
    border: 1px solid #ddd;
}

.courses-table td br {
    content: "";
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .planning-section {
        padding: 20px;
    }

    .planning-section h2 {
        font-size: 1.5rem;
    }

    .courses-table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    .calendar-table {
        width: 100%;
      
        overflow-x: auto;
    }


    /* Adaptation de la table des cours pour mobile */
    .courses-table {
        display: flex;
        flex-direction: column;
    }

    .courses-table thead {
        display: none;
    }

    .courses-table tr {
        display: flex;
        flex-direction: column;
        background-color: #172128;
        margin-bottom: 10px;
        border: 1px solid #314a5c;
    }

    .courses-table td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 0.85rem;
    }

    .courses-table td:before {
        content: attr(data-label);
        font-weight: bold;
        color: #e0a458;
        margin-right: 10px;
    }
}









/* Centrer et agrandir le tableau */
.planning-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.calendar-table {
    width: 80%; /* Largeur plus grande pour le tableau */
    max-width: 600px; /* Largeur maximale pour éviter qu'il ne devienne trop large */
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.1em;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-table th, .calendar-table td {
    padding: 15px 20px; /* Espacement interne */
    border: 1px solid #ddd;
    text-align: center;
}

.calendar-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.calendar-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}







