<section class="cours-enfant-section">
    <div class="cours-enfant-content">
        <h2>Cours pour Enfants</h2>
        <p>
            Nos cours pour enfants sont conçus pour développer leur motricité, renforcer leur confiance et les initier au plaisir de l'exercice physique. Encadrés par des coachs spécialisés, vos enfants apprendront tout en s'amusant !
        </p>
        <ul class="cours-enfant-features">
            <li>Jeux sportifs et coordination</li>
            <li>Yoga et relaxation pour enfants</li>
            <li>Danse et mouvement créatif</li>
            <li>Mini bootcamp et circuits ludiques</li>
        </ul>
        <button class="join-cours-btn">Inscrivez votre enfant</button>
    </div>
    <div class="image-section">
        <img src="/assets/courkids.jpeg" alt="Espace Fitness">
    </div>
</section>
