<section class="cardio-section">
    <div class="cardio-content">
        <h2>Entraînement Cardio</h2>
        <p>
            Améliorez votre endurance et brûlez des calories dans notre espace cardio de pointe ! Nous proposons des machines modernes et variées pour s'adapter à tous les niveaux, des débutants aux experts, et vous aider à atteindre vos objectifs.
        </p>
        <ul class="cardio-features">
            <li>Tapis de course dernière génération</li>
            <li>Vélos elliptiques et de spinning</li>
            <li>Rameurs et steppers</li>
            <li>Suivi de performance en temps réel</li>
            <li>Conseils personnalisés pour optimiser vos séances</li>
        </ul>
        <button class="start-cardio-btn">Commencez le Cardio</button>
    </div>

    <div class="image-section">
        <img src="/assets/cardioimage.jpeg" alt="Espace Fitness">
    </div>

</section>
